<section class="container  mt-5 mb-5">
    <div class="row">
        <a class="btn btn-success ml-auto mb-3" href="/admin/add-product">Add Product</a>
    </div>
    <div style="overflow-x: auto;padding-left: 1em;padding-right: 1em;" class="row">
        <table id="productsTable" class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Discription</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th>1</th>
                    <td>{{this.name}}</td>
                    <td>{{this.discription}}</td>
                    <td>Rs: {{this.price}}</td>
                    <td><img style="width: 100px;height: auto;" src="/product-images/{{this._id}}.jpg"></td>
                    <td>
                        <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary m-1">Edit</a>

                        <button  class="btn btn-danger m-1"
                            onclick="confirmAlert('{{this.name}}','{{this._id}}')">Delete</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#productsTable').DataTable();
    });

    async function confirmAlert(proName, proId) {
        await swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this product\n('" + proName + "')..!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then(async (willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/admin/delete-product/" + proId,
                        success: async function (result) {
                            await swal("Product deleted successfully..!", "", "success");
                            location.reload();
                        }
                    });
                } else {
                    await swal("Product isn't deleted..!", "", "info");
                }
            });
    }
</script>