<section class="container cards mt-5 mb-5">
    <div class="row">
        {{#each products}}
        <div class="col-md-3 mt-3 mb-3">
            <div data-aos="fade-right" class="card" style="width: auto;">
                <img class="card-img-top" src="product-images/{{this._id}}.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.discription}}</p>
                    <hr>
                    <p><small>Rs: {{this.price}}</small></p>
                    <button class="btn btn-primary" onclick="addToCart('{{this._id}}','{{../user._id}}')">Add to Cart</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>
